Repository Polyfrost/OneConfig, pull requests merged in 2023-02, with the labels that each got.

#228 there's literally a single code change and its a bugfix
  .git-blame-ignore-revs
  build.gradle.kts
  gradle.properties
  gradle/libs.versions.toml
  settings.gradle.kts
  versions/build.gradle.kts
  versions/root.gradle.kts
  versions/src/main/java/cc/polyfrost/oneconfig/internal/OneConfig.java
Labels: bug

#227 Add partialticks to HUD and a way to add blur to any UI
  api/OneConfig.api
  src/main/java/cc/polyfrost/oneconfig/hud/Hud.java
  src/main/java/cc/polyfrost/oneconfig/internal/hud/HudCore.java
  src/main/java/cc/polyfrost/oneconfig/utils/gui/BlurScreen.java
  src/main/java/cc/polyfrost/oneconfig/utils/gui/OneUIScreen.java
  versions/src/main/java/cc/polyfrost/oneconfig/internal/gui/impl/BlurHandlerImpl.java
  versions/src/main/java/cc/polyfrost/oneconfig/internal/plugin/hooks/OptifineConfigHook.java
Labels: enhancement

#229 Icon Tweaks
  api/OneConfig.api
  src/main/java/cc/polyfrost/oneconfig/config/data/Mod.java
  src/main/java/cc/polyfrost/oneconfig/gui/elements/ModCard.java
  src/main/java/cc/polyfrost/oneconfig/internal/config/Preferences.java
  src/main/java/cc/polyfrost/oneconfig/internal/config/compatibility/forge/ForgeCompat.java
  src/main/resources/assets/oneconfig/icons/forge_logo.png
  versions/build.gradle.kts
  versions/src/main/java/cc/polyfrost/oneconfig/internal/OneConfig.java
  versions/src/main/java/cc/polyfrost/oneconfig/test/TestConfig_Test.java
  versions/src/main/resources/testmod_dark.svg
Labels: enhancement, api related

#235 Icon Tweaks and Kotlin 1.8.0
  README.md
  api/OneConfig.api
  src/main/java/cc/polyfrost/oneconfig/config/data/Mod.java
  src/main/java/cc/polyfrost/oneconfig/gui/elements/ModCard.java
  src/main/java/cc/polyfrost/oneconfig/internal/config/Preferences.java
  src/main/java/cc/polyfrost/oneconfig/internal/config/compatibility/forge/ForgeCompat.java
  src/main/resources/assets/oneconfig/icons/forge_logo.png
  versions/build.gradle.kts
  versions/src/main/java/cc/polyfrost/oneconfig/internal/OneConfig.java
  versions/src/main/java/cc/polyfrost/oneconfig/test/TestConfig_Test.java
  versions/src/main/resources/testmod_dark.svg
Labels: api related, major
